@import "tailwindcss";

/* IRANSansX Font */
@font-face {
  font-family: "IRANSansX";
  src: url("/fonts/IRANSansX-Regular.woff2") format("woff2"),
       url("/fonts/IRANSansX-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/fonts/IRANSansX-Bold.woff2") format("woff2"),
       url("/fonts/IRANSansX-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-iransans: "IRANSansX", Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #F5F5F5;
  color: var(--foreground);
  font-family: "IRANSansX", Arial, Helvetica, sans-serif;
}


@theme {
  --color-primary: #2D2D2D;
}